* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

a {
    color: rgb(244, 244, 244);
    font-size: 3rem;
    font-weight: 500;
}

.logo {
    text-align: center;
    color: rgb(202, 39, 39);
    font-size: 4rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0, 5s ease;
}

.logo:hover {
    color: rgb(202, 39, 39);
    transform: scale(1.1);
}

nav a {
    color: white;
    margin-left: 4rem;
    font-size: 2.5rem;
    font-weight: 700;
    transition: 0, 3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: rgb(202, 39, 39);
    border-bottom: 3px solid rgb(202, 39, 39);
}

@media (max-width: 995px) {
    nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(202, 39, 39);
        border-bottom: 3px solid rgb(202, 39, 39);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: black;
        border-top: 0.1rem solid rgb(42, 32, 32);
    }

    nav:active {
        display: block;
    }

    nav a {
        display: block;
        margin: 2rem;
        font-size: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid rgb(109, 49, 49);
    }

}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 1px;
}

.home .home-content h1 span {
    color: rgb(202, 39, 39);
}

.home .home-content h3 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: -8rem;
}

.home .home-content h3 span {
    color: rgb(221, 4, 4);
}

.home .home-content p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-top: 10rem;
    line-height: 1.5;
    color: white;
}

.home-img {
    border-radius: 50%;
    margin-top: 10%;
}

.home-img img {
    position: relative;
    width: 21vw;
    border-end-end-radius: 50%;
    box-shadow: 0 0 15px
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    font-size: 2.5rem;
    color: white;
    margin-right: 2rem;
    transition: 0.3s ease;
}

.home-content img {
    width: 30px;
    margin-bottom: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fotoIG {
    width: 20px;
}

.container-logoIG {
    align-items: start;

}


.fotoX {
    width: 20px;
    margin-top: -31px;
    margin-left: -390px;
}

.container-logoX {
    display: flex;
    align-items: start;
    justify-content: center;
}

.fotoSpotify {
    width: 20px;
    margin-top: -31px;
    margin-left: -360px;
}

.container-logoSP {
    display: flex;
    justify-content: center;
}

.fotoTIKTOK {
    width: 20px;
    margin-top: -31px;
    margin-left: -330px;
}

.container-logoTT {
    display: flex;
    justify-content: center;
}

hr.href {
    border: 0.1rem solid rgb(243, 243, 243);
    margin-bottom: 100px;
    margin-top: 100px;
    width: 90%;
    margin-left: 70px;

}

h5 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
